/******* Clases ****/
/*index*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&family=PT+Sans+Narrow:wght@700&display=swap');


.mainImage {
  background-image: url("../Images/Contenido/SecuestradoAlbum.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

}


.banderaSpan {
  border-bottom: solid 4px #ac0404;
}

.resaltado:hover {
  color: #ac0404;
}
.newsDate
{
  text-align: left;
  padding-left: 10px;
  font-size: 80%;

}

.lanzamiento 
{
  font-family: 'Montserrat', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 5px;
}
.secuestrado {
  padding-top: 20px;
  font-size: 600%;
  color: #ac0404;
  
}

.fecha {
  font-size: 200%;
}

.line {
  width: 215px;
  height: 2px;
  color: #ac0404;
  background-image: linear-gradient(to right, white, #ac0404);
}

.noticias {
  height: 640px;
  width: 1200px;
  background-color: gainsboro;
}

.prueba {
  width: 500px;
  height: 360px;
  margin: 50px;
  background-color: #ac0404;
}

.prueba:hover {
  transform: scale(1.1, 1.1);
  opacity: 0.7;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 550px;
  
}

/*Footer*/
.social
{
  padding-top: 4px;
  font-size: 250%;
}
.endLine {

  background-color: #ac0404;
  color: #ac0404;
  padding: 1px;
  
  
}

/*Conciertos*/
.concerts {
  width: 512px;
  height: 288px;
}

/* Galeria*/

.gallery {

	display: flex;
	flex-wrap: wrap;


  
}

.gallery-item {
	flex: 1 0 24rem;
	margin: 1rem;
	overflow: hidden;
}

.gallery-image {
	display: block;
	width: 400px;
  height: 400px;
	object-fit: cover;
	transition: transform 400ms ease-out;
}

.gallery-image:hover {
	transform: scale(1.3);
  
  
}
.seeMore
{
  font-size: 200%;
}

/*Banda*/
.members {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.name
{
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  
}


.descripcion {
  font-family: Verdana, Tahoma, sans-serif;
  line-height: 30px;
}

.lineUp {
  text-align: left;
  font-size: 140%;
  margin-top: 10px;
  color: gainsboro;
}

.role {
  color: #ac0404;
  letter-spacing: 2px;
  font-size: 90%;
}

.titlelineUp {
  text-align: left;
  margin-left: 120px;
  color: #ac0404;
  margin-bottom: 40px;
  padding-top: 50px;
}

.fecha {
  text-align: left;
  font-size: 350%;
  margin: 0;
  
}

.imgLineUp {
  margin-top: 10px;
  border: solid white 2px;
}

/*Contacto*/
.contacto {
  color: #ac0404;
  font-size: 300%;
}

.button {
  width: 60px;
}

/********** Flex ********/
.flexSection {
  display: flex;
  flex-direction: row;
}

.flexContacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.flexDatos {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.flexMenu {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.flexBand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexLineUp {
  margin-left: 150px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
}

.flexGallery {
  display: flex;
  flex-flow: wrap;
 
 /* justify-content: center;
  align-items: center;
  align-content: center;*/
}

.flexMain {
  display: flex;
}

.flexConcerts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

/********** Grid Areas *********/
#grid {
  display: grid;
  grid-template-areas: "menu" "contenido" "pie";
}

#header {
  grid-area: header;
}

nav {
  grid-area: menu;
}

#contenido {
  grid-area: contenido;
}

#footer {
  grid-area: pie;
}

/********* Media Queries ******/
/*******Smartphone********/
@media (max-width: 480px) {
  #grid {
    display: grid;
    grid-template-areas: "header" "menu " "contenido" "pie";
    grid-template-columns: 100%;
  }

  .flexMenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
  }

  .flexContacto {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .flexSection {
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
  }
  .flexFooter
  {
    display: flex;
    flex-direction:row;
    
  }
  

  

  iframe {
    width: 400px;
  }


  .line {
    color: black;
  }
  .banderaSpan {
    border-bottom: none;
  }
  
  .resaltado:hover {
    color: #ac0404;
  }
  span
  {
    padding: 50px;
  }
  span:hover {
    border-bottom: none;
  }
  /******** Index **************/
  .banner {
    width: 300px;
    height: 240px;
    
    display: flex;
    flex-direction: column;
    text-align:start;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    
  }
  .lanzamiento
  {
    font-size: 150%;
    padding: 0%;
    
  }
  .secuestrado
  {
    font-size: 240%;
    padding-top: 0px;
    
  }
 
  

  /************** Band *****************/
  .flexBand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .flexLineUp {
    flex-direction: column;
    margin-left: 20px;
  }

  .lineUp {
    margin-left: 0;
  }

  .titlelineUp {
    text-align: left;
    margin-left: 25px;
    font-size: 300%;

  }

  .imgLineUp {
    width: 335px;
    margin-bottom: 10px;
  }
  .imgMembers
  {
    scale: 138%;
    margin-bottom: 30px;
  }
 .descripcion
 {
   text-justify:distribute;
 }

  /************** Videos *****************/
  iframe {
    width: 335px;
    height: 225px;
  }

  /************** Gallery *****************/
  .flexGallery {
    display: flex;
    flex-direction:column;
    align-content: center;
    
    
  }
  
  .gallery-image
  {
  scale: 80%;
  }
  .gallery-image:hover {
    transform: scale(1.1);
    
    
  }
  

  /************** Concerts *****************/
  .flexConcerts {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    
  }

  

  /************** Contact*****************/
  .flexContacto {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    align-content: center;
  }
  .email
  {
    font-size:150%;
  }
  .container-fluid
  {
    margin-bottom: 30px;
    
  }
  

 


}
/************Tablet******************/
@media (min-width: 481px) and (max-width: 1023px) {
  #grid {
    display: grid;
    grid-template-areas: "header" "menu " "contenido" "pie";
    grid-template-columns: 100%;
  }

  .flexMenu {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
 /**************** Index ***********/
 .banner {
  width: 700px;
  height: 400px;
  text-align: center;
}

.flexSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.lanzamiento
{
  font-size: 200%;
  padding: 0%;
  
}
.secuestrado
{
  font-size: 400%;
  padding-top: 0px;
  
}

  /**************** Videos ***********/
  iframe {
    width: 700px;
    height: 400px;
  }

  /********** Banda **************/
  .flexBand {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .flexLineUp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .lineUp {
    text-align: left;
  }

  .titlelineUp {
    text-align: left;
    margin-left: 20px;
  }
  /********* ****Galeria ************/
  .flexGallery {
    display: flex;
    flex-direction:column;
    align-content: center;
    justify-content: center;
    
    
  }
  /************** Concerts *****************/
  .flexConcerts {
    display: flex;
    flex-direction: column;
  }
  
  .col-md-3 {
    
    width:45%;
  }

  /************* Contact ******************/
  .flexContacto {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .container-fluid
  {
    margin-bottom: 30px;
    
  }
}


/*Reset*/
* {
  margin: 0;
  padding: 0;
  font-family: Bebas Neue, sans-serif;
  font-family: "Bebas Neue", cursive;
}

/********* Generales******/
header {
  background: linear-gradient(rgba(0, 0, 0, 0.89) 75%, rgba(0, 0, 0, 0) 100%);
  text-align: center;
  padding: 10px;
}

body {
  
  background-color:black;
  background-image: url(../Images/rebel.png);
}

footer {
  background-color: black;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  color: white;
  font-size: 70%;
  letter-spacing: 1px;
  background-image: url(../Images/pattern4.png);
}

h1 {
  color: white;
  font-size: 500%;
  text-align: center;
  padding: 0;
  margin: 0;
}

h2 {
  color: white;
  font-size: 400%;
  text-align: center;
 
}

h2 a {
  text-decoration: none;
  color: white;
}

h3 {
  color: white;
  font-size: 200%;
  text-align: center;
  letter-spacing: 1px;
}

h4 {
  color: white;
  font-size: 100%;
  text-align: center;
  letter-spacing: 3px;
}

a {
  color: white;
  padding-top: 20px;
  text-decoration: none;
}
a:hover
{
  color: #ac0404;
}

p {
  color: white;
  
}

li {
  text-decoration: none;
}

span {
  padding: 30px;
  margin-bottom: 30px;
  border-bottom: solid 3px rgba(0, 0, 0, 0);
}
span a {
  color: white;
  font-size: 140%;
  padding: 20px;
  text-align: center;
}
span:hover {
  border-bottom: solid 4px #ac0404;
}

section {
  display: flex;
  flex-direction: column;
  margin: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}
section p {
  padding-top: 20px;
  letter-spacing: 1px;
}

article {
  padding-top: 20px;
  letter-spacing: 2px;
  text-align: justify;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

svg {
  fill: #ac0404;
  margin-right: 20px;
 
  
}


.divBack
{
  background-image: url("../Images/pattern2.png");
  
}


