
@import"colors";


/******* Clases ****/
/*index*/

.mainImage {
    background-image: url("../Images/Contenido/SecuestradoAlbum.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  .flagSpan {
    border-bottom: solid 4px $mainColor;
  }
  
  .select:hover {
    color: $mainColor;
  }
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 550px;
    
  }
 
  
  .titleAlbum{
    padding-top: 20px;
    font-size: 600%;
    color: $mainColor;
    
  }
  .newAlbum
{
  font-family: 'Montserrat', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
  line-height: 5px;
}
  
  .date {
    font-size: 200%;
  }
  
  .line {
    width: 215px;
    height: 2px;
    color:$mainColor;
    background-image: linear-gradient(to right,$textColor,$mainColor);
  }
 
  .newsDate
  {
    text-align: left;
    padding-left: 10px;
    font-size: 80%;
  
  }
  
  /*Footer*/
  .endLine {
    background-color: $mainColor;
    color:$mainColor;
    padding: 1px;
  }
  
  /*Conciertos*/
  .concerts {
    width: 512px;
    height: 288px;
  }
  
  /* Galeria*/
  .gallery {

    display: flex;
    flex-wrap: wrap;
  
  
    
  }
  
  .gallery-item {
    flex: 1 0 24rem;
    margin: 1rem;
    overflow: hidden;
  }
  
  .gallery-image {
    display: block;
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: transform 400ms ease-out;
  }
  
  .gallery-image:hover {
    transform: scale(1.3);
   
  }
  
  /*Banda*/
  .members {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
  .name
  {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    
  }
  
  .description {
    font-family: Verdana, Tahoma, sans-serif;
    line-height: 30px;
  }
  
  .lineUp {
    text-align: left;
    font-size: 140%;
    margin-top: 10px;
    color: $altColor;
  }
  
  .role {
    color:$mainColor;
    letter-spacing: 2px;
    font-size: 90%;
    
  }
  
  .titlelineUp {
    text-align: left;
    margin-left: 120px;
    color: $mainColor;
    margin-bottom: 40px;
    padding-top: 50px;
  }
  
  .date {
    text-align: left;
    font-size: 350%;
    margin: 0;
  }
  
  .imgLineUp {
    margin-top: 10px;
  }

  .seeMore
{
  font-size: 200%;
}
  
  /*Contacto*/
  .contact {
    color:$mainColor;
    font-size: 300%;
  }
  
  .container-fluid
  {
    margin-bottom: 30px;
    
  }
  
  .button {
    width: 60px;
  }

.divBack
{
  background-image: url("../Images/pattern2.png");
  
}