/********** Grid Areas *********/
#grid {
    display: grid;
    grid-template-areas: "menu" "content" "foot";
  }
  
  #header {
    grid-area: header;
  }
  
  nav {
    grid-area: menu;
  }
  
  #contenido {
    grid-area: content;
  }
  
  #footer {
    grid-area: foot;
  }
