/********* Media Queries ******/
/*******Smartphone********/
@media (max-width: 480px) {
  #grid {
    display: grid;
    grid-template-areas: "header" "menu " "content" "foot";
    grid-template-columns: 100%;
  }

  .flexMenu {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
  }

  .flexContact {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .flexSection {
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
  }
  .flexFooter
  {
    display: flex;
    flex-direction:row;
    
  }
  

  

  iframe {
    width: 400px;
  }


  .line {
    color: black;
  }
  .flagSpan {
    border-bottom: none;
  }
  
  .select:hover {
    color: #ac0404;
  }
  span
  {
    padding: 50px;
  }
  span:hover {
    border-bottom: none;
  }
  /******** Index **************/
  .banner {
    width: 300px;
    height: 240px;
    
    display: flex;
    flex-direction: column;
    text-align:start;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    
  }
  .newAlbum
  {
    font-size: 150%;
    padding: 0%;
    
  }
  .titleAlbum
  {
    font-size: 240%;
    padding-top: 0px;
    
  }
 
  

  /************** Band *****************/
  .flexBand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .flexLineUp {
    flex-direction: column;
    margin-left: 20px;
  }

  .lineUp {
    margin-left: 0;
  }

  .titlelineUp {
    text-align: left;
    margin-left: 25px;
    font-size: 300%;

  }

  .imgLineUp {
    width: 335px;
    margin-bottom: 10px;
  }
  .imgMembers
  {
    scale: 138%;
    margin-bottom: 30px;
  }
 .description
 {
   text-justify:distribute;
 }

  /************** Videos *****************/
  iframe {
    width: 335px;
    height: 225px;
  }

  /************** Gallery *****************/
  .flexGallery {
    display: flex;
    flex-direction:column;
    align-content: center;
    
    
  }
  
  .gallery-image
  {
  scale: 80%;
  }
  .gallery-image:hover {
    transform: scale(1.1);
    
    
  }
  
  
  

  /************** Concerts *****************/
  .flexConcerts{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 30px;
  }

  

  /************** Contact*****************/
  .flexContact {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    align-content: center;
  }
  .email
  {
    font-size:150%;
  }
  .container-fluid
  {
    margin-bottom: 30px;
    
  }
  

 


}
/************Tablet******************/
@media (min-width: 481px) and (max-width: 1023px) {
  #grid {
    display: grid;
    grid-template-areas: "header" "menu " "content" "foot";
    grid-template-columns: 100%;
  }

  .flexMenu {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
 /**************** Index ***********/
 .banner {
  width: 700px;
  height: 400px;
  text-align: center;
}

.flexSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.newAlbum
{
  font-size: 200%;
  padding: 0%;
  
}
.titleAlbum
{
  font-size: 400%;
  padding-top: 0px;
  
}

  /**************** Videos ***********/
  iframe {
    width: 700px;
    height: 400px;
  }

  /********** Banda **************/
  .flexBand {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .flexLineUp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .lineUp {
    text-align: left;
  }

  .titlelineUp {
    text-align: left;
    margin-left: 20px;
  }
  /********* ****Galeria ************/

  .flexGallery {
    display: flex;
    flex-direction:column;
    align-content: center;
    justify-content: center;
    
    
  }
  .gallery-image {
    display: block;
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: transform 400ms ease-out;
  }

  
  
  .gallery-image:hover {
    transform: scale(1.2);
    
    
  }

  /************** Concerts *****************/
  .flexConcerts {
    display: flex;
    flex-direction: column;
  }
  
  .col-md-3 {
    
    width:45%;
  }

  /************* Contact ******************/
  .flexContact {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .container-fluid
  {
    margin-bottom: 30px;
    
  }
}
