@import "clases";
@import "flex";
@import "grids";
@import"mediaQueries";
@import"colors";



//Variables


/*Reset*/
* 
{
    margin: 0;
    padding: 0;
    font-family: Bebas Neue, sans-serif;
    font-family: 'Bebas Neue', cursive;

}
/********* Generales******/
header 
{
    background: linear-gradient(rgba(0, 0, 0, 0.89) 75%, rgba(0, 0, 0, 0) 100%);
    text-align: center;
    padding: 10px;
}
body 
{
    background-color: $backColor;
}
footer 
{
    background-color:  $backColor;
    padding: 10px;
    text-align: center;
    color: $textColor;
    font-size: 70%;
    letter-spacing: 1px;
}
h1 
{
    color: $textColor;
    font-size: 500%;
    text-align: center;
    padding: 0;
    margin: 0;
    
}
h2 
{
    color: $textColor;
    font-size: 400%;
    text-align: center;

}
h2  
{
    a
    {
    text-decoration: none;
    color: $textColor;
    }
}
h3 
{
    color: $textColor;
    font-size: 200%;
    text-align: center;
    letter-spacing: 1px;

}
h4
{
    color: $textColor;
    font-size: 100%;
    text-align: center;
    letter-spacing: 3px;
}
a 
{
    color: $textColor;
    padding-top: 20px;
    text-decoration: none;

}
  

p 
{
    color: $textColor;
   
   

}
li 
{
    text-decoration: none;
}

span 
{
    padding: 30px;
    margin-bottom: 30px;
    border-bottom: solid 3px rgba(0, 0, 0, 0);
    a
    {
        color: $textColor;
        font-size: 140%;
        padding: 20px;
        text-align: center; 
    }
    &:hover
    {
        border-bottom: solid 4px $mainColor;
    }
}
section 
{
    
    @include flex-column;
    margin: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    p
    {
        padding-top: 20px;
        letter-spacing: 1px;
    }

}
article 
{
    padding-top: 20px;
    letter-spacing: 2px;
    text-align: justify;

}

form 
{
    
    @include flex-column;
    align-items: center;
    justify-content: center;
    padding: 100px;

}
input 
{
    width: 320px;
    padding: 6px;
    margin-bottom: 20px;
}
svg
{
    fill:$mainColor;
}



