* {
    margin: 0;
    padding: 0;
    font-family:   Bebas Neue;
    
    
}

header
{
    background-color:  black;
    text-align: center;
    padding: 20px;
}
body
{
     background-color: black;
    
    

}
section
{
    
	margin:50px;
	
    text-align: center;
    
	

}
.menu
{
    padding: 30px;
    background-color: black;
    font-weight: bold;
    font-size: 130%;
    
}
ul a
{
    color: white;
    padding: 20px;
    text-align: left;
    text-decoration: none;
}

span:hover 
{
    padding: 10px;
    border-bottom: solid 3px #ac0404;
}
 /*.banner 
{
    
    
}
*/

h2,h3
{
	color : white;
	margin: 10px;
	text-align: center;
   
}



.vertodos
{
	color : white;
	padding: 30px;
	text-decoration: none;
	
}



footer
{
	background-color : #ac0404;
	padding: 10px;
	text-align: center;	
	
}
.titles
{
    background-color: #ac0404; 
    height: 40px;
    font-size: 150%;
   
}
p
{
    color : white;
	
}

