* {
    margin: 0;
    padding: 0;
    font-family:   Bebas Neue;
    
    
}

.topLine
{
    height: 2px; 
    color: #ac0404; 
    background-image: 
    linear-gradient(to right, red, #ac0404);  
}
header
{
    background: linear-gradient( rgba(0, 0, 0, 0.733) 75%, rgba(0, 0, 0, 0) 100% );
    

    text-align: center;
    padding: 10px;
    
}
body
{
     background-color: black;
}
section
{
    display: flex;
    flex-direction: column;
	margin:50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;


}

.mainImage
{
    background-image: url(./Images/Contenido/SecuestradoAlbum.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}




span
{
    
    padding: 30px;
    
    margin-bottom: 30px;
    border-bottom: solid 3px  rgba(0, 0, 0, 0);
}
span a
{
    color : white;
	font-size: 140%;
    padding: 20px;
    text-align: center; 
}



.banderaSpan{
    border-bottom: solid 4px #ac0404;
}
.resaltado:hover
{
    color: #ac0404;
}


span:hover 
{
    
    border-bottom: solid 4px #ac0404;
    
   
}


h1
{
	color : white;
	font-size: 500%;
    text-align: center;
    ;
}
h2
{
    color : white;
	font-size: 300%;
    text-align: center;
    
    
}
h3
{
	color : white;
	font-size: 200%;
    text-align: center;
    letter-spacing: 1px;
    
}
a
{
    color: white;
    padding-top: 20px;
    text-decoration: none;
    
}

p
{
    color : white;
    
	
}
li
{
    text-decoration: none;
}


.line
{
    
    
    width: 180px;
    height: 1px; 
    color: #ac0404; 
    background-image: 
    linear-gradient(to right, white, #ac0404);
 
}


footer
{
	    background-color :black;
	    padding: 10px;
        text-align: center;
        color: white;  
        font-size: 70%;
        letter-spacing: 1px;
		
}
h2 a
{
    text-decoration: none;
    color: white;
}
article
{
    padding-top: 20px;
    letter-spacing: 2px;
    text-align: justify;
    

}



section p
{
    
    padding-top: 20px;
    letter-spacing: 1px;
	
}


.contactBack
{
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url(./Images/Pattern.jpg )
    
}
form
{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 100px;
   

}
input
{
    width: 320px;
    padding: 6px;
    margin-bottom: 20px;
}
.button
{
    width: 60px;  
    
}

.contacto
{
    
    color: #ac0404;
    
    

}

.prueba
{
    width: 500px;
    height: 360px;
    margin: 50px;
    background-color: #ac0404;
   
    
}
.prueba:hover
{
   
    transform: scale(1.1,1.1);
    opacity: 0.7;
    
}
.imgSocial
{
    background-color: #ac0404;
    border-radius: 10px;
}
.flexPrueba
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content:center;
  
}

.banner
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-end;
  width: 100%;
  height: 550px;
  
  

 
}
.lineUp
{
   
  margin-left: 50px;
  text-align: left;
   
}
.titlelineUp
{
    text-align: left;
    margin-left: 120px;
}
.gallery
{
    width:  400px;
    height: 400px;
    
}
.gallery:hover
{

transform: scale(1.3,1.3);
border-radius: 20px;
border: solid 3px #ac0404;
}

.concerts
{
    width:  512px;
    height: 288px;
    
}
.imgBanner
{
    margin-top: 40px;
}

/********** Grid Areas *********/
#grid
{
    display: grid;
    grid-template-areas: 
    "menu"
    "contenido"
    "pie";
   
}
#header
{
    grid-area: header;
}
nav
{ 
    grid-area: menu;
    
}
#contenido
{
    grid-area: contenido;
}
#footer
{
    grid-area: pie;
    
}



/********** Flex ********/

.flexSection
{
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  
}

.flexContacto
{
    display: flex;
    flex-direction: row;
	justify-content:flex-start;

    
}
.flexDatos{
    display: flex;
    flex-direction: column;
	justify-content:flex-end;

}
.flexMenu 
{
 display: flex;
 text-align: center;
 justify-content:center;



           
}


.flexBand
{

display:flex;
flex-direction:column;
align-items:center;
justify-content: center;
}

.flexLineUp
{
    margin-left: 150px;
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content: left;

}
.flexGallery
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.flexMain
{
    display: flex;
}


/********* Media Queries ******/

/*******Smartphone********/
@media (max-width : 480px)
{
    #grid
    {
        display: grid;
        grid-template-areas: 
        "header"
        "menu "
        "contenido"
        "pie";   
        grid-template-columns: 100%;
    }

    
    .flexMenu 
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content:flex-start;
        align-items: flex-start;
        align-content: center;
          
    }
     

    .flexContacto
    {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
      
    }
    .flexSection
    {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content:flex-start;
        align-items: center;
        align-content: center; 
    
    
    }
    .imgBanner 
    {
        
        width:400px;
    }
    iframe
    {
        width:400px;
    }
    .banner
    {
        width:400px;
        height: 150px;
        
    }
    .line
    {
        color: black; 
    }
/************** Band *****************/
    .flexBand
    {

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    }

    .flexLineUp
    {
        
        
        flex-direction:column;
        margin-left: 20px;
     
    }
    .lineUp
    {
        margin-left: 0px;
        
    }
    .titlelineUp
    {
        text-align: left;
        margin-left: 25px;
    }
    .imgLineUp 
    {
        
        width:400px;
    }
 /************** Videos *****************/
    iframe
    {
        width: 400px;
        height: 300px;
    }   

 /************** Gallery *****************/
    .flexGallery
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start ;
        align-items: center;
        align-content: center;
    }
/************** Concerts *****************/
    .flexConcerts
    {
        display: flex;
        flex-direction: column;
        

    }
    .concerts
    {
        width:  400px;
    
    }
/************** Contact*****************/
    form
    {
    
    padding: 50px;
    
    }
    


/************Tablet******************/
@media (min-width: 481px) and
 (max-width: 1023px)
{
    #grid
    {
        display: grid;
        grid-template-areas: 
        "header"
        "menu "
        "contenido"
        "pie";   
        grid-template-columns: 100%;
    }
    .flexMenu 
    {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content:center;
        align-items: center;
        align-content: center;
          
    }
    .imgBanner 
    {
        
        width:00px;
        height: 300px;

    }
    
/**************** Videos ***********/
    
    .banner
    {
        width:400px;
        height: 300px;
        
    }
    .flexSection
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
         
    
    }
    
        
 /********** Banda **************/       
    
    .flexBand
    {

    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content: flex-start;
    }

    .flexLineUp
    {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content: flex-start;
        
        
      
    
    }
    .lineUp
    {
       
        text-align: left;
        
    }
    .titlelineUp
    {
        text-align: left;
        margin-left: 20px;
    }
    
    
/************* Contact ******************/
    
    .flexContacto
    {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
       

}

/*********** Animaciones *******/
.logoAnim
{
    animation-name: logo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 0;
}

.titulo-animado {
    animation-name: titulo;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 0;
}
/******** KeyFrames *******/
@keyframes logo 
{
    from/* inicio */{
        transform: scale(1.1,1.1)
    }
    to/* fin */{
        transform: scale(1,1);
        color:red;
    }
}
@keyframes titulo {
    from/* inicio */{
        transform: translateY(-2000px);
        opacity: 0;
        color: deeppink;
    }
    to/* fin */{
        opacity: 1;
        color: deeppink;
    }
}



 
 





}